body {
	margin: 0;
}
nav {
	height: 100px;
	background-color: #FE7E00;
	padding-bottom: 15px;
}
div.left img {
	padding-top: 10px;
	width:288px;
}
div.left, div.right,div.right ul {
	width: 50%;
	display: inline-block;
}
div.right {
	height: 100px;
	background-color: none;
	vertical-align: top;

}
div.right ul{
 
 padding-top: 28px;
 width: 700px;
 padding-left: 120px;
}
div.right ul li {
	display: inline-block;
	padding-right: 55px;
}
div.right ul li a {
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	font-family: 'Krub', sans-serif;;
	text-transform: uppercase;
}

/*MAIN SECTION*/

div.left,div.right {
	display: inline-block;
	height: 400px;
}
div.left{
	width: 40%;

}
div.right{
	width: 60%;
}
div.left img#orange {
	width: 450px;
	margin-top: 45px;
}
form {
	padding-top: 50px;
}
form.example button {
    float: right;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
input {
	height:35px;
	padding-left: 67px;
}
form {
	padding-left: 200px;
}
section div.right {
	text-align: center;
}
section div.right p {
	font-size: 2.4em;
	color: orange;
	line-height: 70px;
	font-family: 'Krub', sans-serif;

}
section span#or {
	font-weight: bold;
	font-size: 1.2em;

}
section span#bl {
	color:#7CD3C5;
}

/*FOOTER SECTION*/

footer {
	height: 142px;
	background-color: #7CD3C5;
	text-align: center;
}
footer div i {
	width: 50px;
	font-size: 1.7em;
	color: white;
	padding-top: 25px;

}
footer div  {
	display: inline-block;

}
